/*______________________________________ 
---------- import CSS fonts ---------- 
========================================*/
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@600;700&family=Poppins:wght@500;600;700&family=Roboto:wght@700&display=swap");

/* <--------------------------->
      Common Style 
   <--------------------------->*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  width: 100%;
  height: 100vh;
  font-family: "Poppins", sans-serif;
  background-color: #ffffff;
}
.container {
  max-width: 1100px;
  margin: 50px auto;
}

a {
  text-decoration: none;
}
p {
  font-size: 16px;
  color: var(--main-color);
  font-weight: 600;
}

li {
  list-style: none;
}
:root {
  --main-color: #292929;
  --button-bg-color: #e02c6d;
  --button-bg-color-hover: #444444 ;
  --button-text-color: #e02c6d;
  --brand-color: #e02c6d;
  --brand-color2: #c031ad;
}

/* Nav bar  Starting */
nav {
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav a {
  padding: 5px 10px;
  color: var(--main-color);
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-size: 18px;
  color: var(--main-color);
  text-decoration: none;
}
nav a:hover {
  color: var(--brand-color);
  text-decoration: solid;
}
nav ul {
  display: flex;
}
nav .logo a {
  font-size: 22px;
  font-weight: 800;
  color: var(--main-color);
}
nav .logo a:hover {
  color: var(--main-color);
  text-decoration: none;
}

/* Nav bar  End*/

/* First Section Start*/

.hero img {
  transition: transform 1s ease;
}
.hero:hover.hero img {
  transform-origin: center;
  transform: scale(0.9) rotate(45deg);
}

.hero .row {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-items: end;
}
.hero .content {
  display: flex;
  align-items: center;
}
.hero h1 {
  font-size: 48px;
  font-weight: 800;
  color: var(--main-color);
  letter-spacing: -2px;
  line-height: 65px;
}
.hero p {
  margin: 30px 0;
}
a.button-style {
  padding: 12px 20px;
  background-color: var(--button-bg-color);
  color: #ffffff;
  border-radius: 12px;
  margin-top: 8px;
  display: inline-block;
}
a.button-style:hover {
  background-color: var(--button-bg-color-hover);
}

a.button-style:hover .fa-arrow-alt-circle-right {
  transform: translate(10px);
  transition: all 0.2s step-start;
}
span.button {
  padding-left: 5px;
}

/* First Section End*/
