/*______________________________________ 
---------- import CSS fonts ---------- 
========================================*/
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@600;700&family=Poppins:wght@500;600;700&family=Roboto:wght@700&display=swap");

/* <--------------------------->
      Common Style 
   <--------------------------->*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  width: 100%;
  height: 100vh;
  font-family: "Poppins", sans-serif;
  background-color: #ffffff;
}
.container {
  max-width: 1100px;
  margin: 50px auto;
}

a {
  text-decoration: none;
}
p {
  font-size: 16px;
  color: var(--main-color);
  font-weight: 600;
}

li {
  list-style: none;
}
:root {
  --main-color: #292929;
  --button-bg-color: #e02c6d;
  --button-bg-color-hover: #444444 ;
  --button-text-color: #e02c6d;
  --brand-color: #e02c6d;
  --brand-color2: #c031ad;
}

/* Nav bar  Starting */
nav {
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav a {
  padding: 5px 10px;
  color: var(--main-color);
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-size: 18px;
  color: var(--main-color);
  text-decoration: none;
}
nav a:hover {
  color: var(--brand-color);
  text-decoration: solid;
}
nav ul {
  display: flex;
}
nav .logo a {
  font-size: 22px;
  font-weight: 800;
  color: var(--main-color);
}
nav .logo a:hover {
  color: var(--main-color);
  text-decoration: none;
}

/* Nav bar  End*/

/* First Section Start*/

.hero img {
  transition: transform 1s ease;
}
.hero:hover.hero img {
  transform-origin: center;
  transform: scale(0.9) rotate(45deg);
}

.hero .row {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-items: end;
}
.hero .content {
  display: flex;
  align-items: center;
}
.hero h1 {
  font-size: 48px;
  font-weight: 800;
  color: var(--main-color);
  letter-spacing: -2px;
  line-height: 65px;
}
.hero p {
  margin: 30px 0;
}
a.button-style {
  padding: 12px 20px;
  background-color: var(--button-bg-color);
  color: #ffffff;
  border-radius: 12px;
  margin-top: 8px;
  display: inline-block;
}
a.button-style:hover {
  background-color: var(--button-bg-color-hover);
}

a.button-style:hover .fa-arrow-alt-circle-right {
  transform: translate(10px);
  transition: all 0.2s step-start;
}
span.button {
  padding-left: 5px;
}

/* First Section End*/
/*Logo Section Start*/
.company {
  border-top: 2px solid rgba(121, 117, 117, 0.082);
  border-bottom: 2px dotted rgba(121, 117, 117, 0.082);
  padding: 15px 0;
}
.company-logo .company {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  line-height: 50px;
}
.company-logo img {
  padding: 10px;
}

.company-logo img:hover {
  transform: scale(1.2);
  -webkit-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -ms-transform: scale(1.2);
  -o-transform: scale(1.2);
}

/* Logo Section End*/
/* Popular Section Start*/
.popular-collection .row {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-row-gap: 30px;
  justify-items: center;
}

.popular-collection-title {
  text-align: center;
  font-size: 28px;
  font-weight: 600;
  color: var(--main-color);
  margin: 50px 0;
}
.popular-collection img {
  width: 100%;
  border-radius: 5px;
  padding: 15px;
  transition: transform 0.5s;
}
.product:hover.product img {
  transform: scale(1.05);
  cursor: pointer;
}
.product.shadow {
  width: 325px;
  height: 470px;
  box-shadow: 15px 5px 80px rgb(241, 227, 227);
  border-radius: 5px;
}
.product-info {
  padding-left: 15px;
}
.product-title h3 {
  font-size: 28px;
  color: #18191f;
}
span.price {
  font-size: 24px;
  color: #000000;
  opacity: 87%;
}
.fa-star,
.fa-star-half-alt {
  font-size: 12px;
  color: #fb8200;
}
span.rating {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: 700;
  color: #5e6366;
  opacity: 80%;
  padding-left: 10px;
}
p.product-description {
  font-size: 14px;
  font-family: "Inter", sans-serif;
  font-weight: 700;
  color: #787885;
  line-height: 25px;
}
.see-more-btn {
  text-align: right;
  font-size: 18px;
  color: var(--button-text-color);
  opacity: 100%;
  margin: 40px;
  cursor: pointer;
}

.see-more-btn:hover {
  color: var(--main-color);
}
/* Popular Section End*/

